LUMPY_HOME=/PATH/TO/WHERE/LUMPY/INSTALLED/lumpy/0.3.0/

LUMPY=/PATH/TO/WHERE/LUMPY/INSTALLED/lumpy/0.3.0/bin/lumpy
HEXDUMP=/usr/bin/hexdump
SAMBLASTER=samblaster
SAMBAMBA=sambamba
SAMTOOLS=samtools
#PYTHON=/usr/bin/python
PYTHON=python

PAIREND_DISTRO=/PATH/TO/WHERE/LUMPY/INSTALLED/lumpy/0.3.0/scripts/pairend_distro.py
BAMGROUPREADS=/PATH/TO/WHERE/LUMPY/INSTALLED/lumpy/0.3.0/scripts/bamkit/bamgroupreads.py
BAMFILTERRG=/PATH/TO/WHERE/LUMPY/INSTALLED/lumpy/0.3.0/scripts/bamkit/bamfilterrg.py
BAMLIBS=/PATH/TO/WHERE/LUMPY/INSTALLED/lumpy/0.3.0/scripts/bamkit/bamlibs.py
